#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk



clean::
	cd po && make clean


binary-predeb/jclic-browser::
	gzip $(CURDIR)/debian/jclic-browser/usr/share/jclic_browser/jclic.db
